@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 400;
}

:root {


  --shade-1: #5E5BAC;
  --shade-2: #3E4393;
  --shade-3: #4B5296;
  --shade-4: #ceedfa;

  --primary: var(--shade-1);
  --secondary: var(--shade-2);
  --ternary: var(--shade-3);
  --light: var(--shade-4);
}

.pattern4 {
  background: url("/pattern/pattern4.jpg");
  z-index: -10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shade-1: #090742;
    --shade-2: #050830;
    --shade-3: #151b3d;
    --shade-4: #ceedfa;

    --primary: var(--shade-1);
    --secondary: var(--shade-2);
    --ternary: var(--shade-3);
    --light: var(--shade-4);
  }

 

  .pattern4 {
    background: url("/pattern/pattern5.jpg");
    z-index: -10;
  }

}

.btn-dark {
  background-color: var(--ternary);
  padding: 5px 10px;
}

input,
textarea {
  @apply bg-secondary text-light;
}

body {
  color: var(--light);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px 55px 0px;
}
