@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f212e;
  --secondary: #1a2c38;
  --ternary: #2f4553;
  --text-color: #fff;
  --blue-btn: #1475e1;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary);
  color: var(--text-color);
}

.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
.ternary {
  background-color: var(--ternary);
}

.border-ternary {
  border: var(--ternary);
}

.blue-bg {
  background-color: var(--blue-btn);
}
.blue-text{
  color: var(--blue-btn);
}
.blue-btn {
  background-color: var(--blue-btn);
  color: var(--text-color);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
}

.ternary-btn {
  background-color: var(--ternary);
  color: var(--text-color);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
}


.active{
  background-color: var(--ternary);
  color: var(--text-color);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
}




.blob {
  width: 250px;
  height: 250px;
  background: url('/profile.jpeg') no-repeat;
  background-size: cover;
  box-shadow: 0 3px 3px 3px rgba(13,110,253,0.1);
  animation: move 4s ease-in-out infinite;
  transition: all 1s ease-in-out;
  filter: sepia(50%) contrast(150%) saturate(170%) brightness(76%) hue-rotate(-15deg);

}



@keyframes move {
  0%,100% {
    border-radius: 67% 33% 72% 28% / 46% 41% 59% 54% ;
  }
   25% {
    border-radius: 29% 71% 48% 52% / 46% 58% 42% 54% ;
  }
   50% {
    border-radius: 29% 71% 48% 52% / 77% 78% 22% 23% ;
  }
  60% {
      border-radius: 33% 67% 65% 48% / 55% 68% 37% 40%;
    }
     65% {
    border-radius: 33% 67% 75% 48% / 55% 68% 37% 69%;
  }
     70% {
    border-radius: 61% 39% 47% 53% / 56% 49% 51% 44% ;
  }
  80% {
      border-radius: 31% 39% 47% 63% / 56% 69% 51% 54% ;
    }

}


.animate-fade {
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 10;
  } 20% {
    opacity:20;
  } 30% {
    opacity: 30;
  }
  50% {
    opacity: 50;
  } 70% {
    opacity: 70;
  } 85% {
    opacity: 85;
  }
  100% {
    opacity: 100;
  }
}